.reset-single-door {
    position: absolute;
    z-index: 1800;
    padding: 10px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 4px 4px 6px #00000096;;
    top: 100px;
    display: none;
    #resetSingleDoor {
        text-transform: uppercase;
        font-size: 12px;
    }
    &.isActive {
        display: block;
    }
}

::-webkit-scrollbar {
    width: 0;
}

#saveImages {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
}

#toastElementContainer {
    left: calc(50% + var(--s-controls) / 2);
    z-index: 3000;
}