.btn-outline-primary{
    color: var(--c-primary) !important;
    border-color: var(--c-primary) !important;
    &:hover {
     background-color: var(--c-primary) !important;
     color: white !important;
    }
    &:focus {
        box-shadow: 0 0 0 0.25rem var(--c-primary) !important;
    }
    &:active {
        background-color: var(--c-primary) !important;
    }
}

.list-item.profileType {
    position: relative;
}

.slick-profile input:checked + .selected:before {
    content: url('data:image/svg+xml;utf8,<svg fill="%231fb6ff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 14"><path d="M12.478,11.629 C11.199,12.909 9.497,13.613 7.688,13.613 C5.878,13.613 4.177,12.909 2.897,11.629 C1.617,10.349 0.913,8.648 0.913,6.838 C0.913,5.029 1.617,3.327 2.897,2.048 C4.177,0.768 5.878,0.063 7.688,0.063 C9.497,0.063 11.199,0.768 12.478,2.048 C13.758,3.327 14.463,5.029 14.463,6.838 C14.463,8.648 13.758,10.349 12.478,11.629 ZM7.688,0.857 C4.390,0.857 1.707,3.540 1.707,6.838 C1.707,10.136 4.390,12.819 7.688,12.819 C10.986,12.819 13.669,10.136 13.669,6.838 C13.669,3.540 10.986,0.857 7.688,0.857 ZM7.138,9.012 C7.061,9.090 6.959,9.128 6.858,9.128 C6.756,9.128 6.654,9.090 6.577,9.012 L4.451,6.886 C4.296,6.731 4.296,6.480 4.451,6.325 C4.606,6.170 4.857,6.170 5.012,6.325 L6.858,8.170 L10.363,4.665 C10.518,4.510 10.770,4.510 10.924,4.665 C11.080,4.820 11.080,5.071 10.924,5.226 L7.138,9.012 Z"/></svg>');
    display: block;
    position: absolute;
    top: 2px;
    right: 2px;
    width: 18px;
    height: 16px;
    z-index: 3;
}
.slick-profile input:checked + .selected {
    border: 1px solid var(--c-blue);
    background: var(--c-white);
    width: 90%;
    height: 90%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    border-radius: 4px;
    display: block;
}

.slick-profile .selected {
    width: 90%;
    height: 90%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    background: var(--c-grey-l-4);
    border-radius: 4px;
    display: block;
    border: 1px solid var(--c-grey-border);
}

.slick-profile input {
    // display: none;
    position: absolute;
    appearance: none;
}

.slick-profile img {
    display: block;
    position: absolute;
    width: 68px;
    height: 72px;
    top: 50%;
    transform: translate(34%, -50%);
}

.slick-profile label {
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    cursor: pointer;
}

.slick-profile__control {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--c-grey-l-0);
    font-size: 1.2em;
    button {
        transition: .5s;
    }
    button:hover {
        opacity: .5;
    }
}

.slick-profile__name {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}